$primary: pink;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "red": red,
    "blue": cyan
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


@import "../node_modules/bootstrap/scss/bootstrap"